$brand-color-50: #f3f6fa;
$brand-color-100: #e9edf6;
$brand-color-200: #d8deed;
$brand-color-300: #bfc8e2;
$brand-color-400: #b0b7d9;
$brand-color-500: #8e93c6;
$brand-color-600: #7677b5;
$brand-color-700: #64649e;
$brand-color-800: #535480;
$brand-color-900: #474968;

$background-color: $brand-color-50;
$font-color: $brand-color-900;

$font-main: "Inter", sans-serif;
